.about {
    margin: 20px;
}

.about-header {
    text-align: center;
}

.image-list {
    position: relative;
    text-align: center;
}

.about-list {
    position: absolute;
    top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left: 5px;
}

.about-item {
    margin: 5px 20px;
}

ul{
    font-weight: bold;
}

.about-logo{
    display: flex;
    justify-content: center;
}

#rotate-center {
    background-color: #59706d;
    box-shadow: 0px 0px 15px 6px #304946;
    border: 2px dotted black;
    border-radius: 500px;
	-webkit-animation: rotate-center 20s ease-in-out infinite both;
	        animation: rotate-center 20s ease-in-out infinite both;
}

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
#rotate-center:hover{
    background-color: #C44536;
    box-shadow: 0px 0px 15px 6px #C44536;
  }

@media screen and (max-width: 500px) {
    .about{
        margin: 0px 0px 20px 0px;
        font-size: 13.5px;
    }

    .about-list{
        position: absolute;
        top: 40px;
    }

    .about-item{
        margin: 5px 25px;
    }
}

