.about {
    margin: 20px;
}

.about-header {
    text-align: center;
}

.image-list {
    position: relative;
    text-align: center;
}

.about-list {
    position: absolute;
    top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left: 5px;
}

.about-item {
    margin: 5px 20px;
}

ul{
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .about{
        margin: 0px 0px 20px 0px;
        font-size: 13.5px;
    }

    .about-list{
        position: absolute;
        top: 40px;
    }

    .about-item{
        margin: 5px 25px;
    }
}

