.home {
    margin: 5px;
}

p {
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #86BBD8;
}

strong {
    color:#F6AE2D;
}

.home-text {
    width: 70%;
    margin-left: 27px;
    font-family: 'Montserrat', sans-serif;
}

.home-link {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #F6AE2D;
}

@media screen and (max-width: 700px) {
    .headshot {
        top: 200px;
    }
}




@media screen and (max-width: 500px) {

    h1{
        font-size: 24px;
    }

    h2 {
        font-size: 14px;
    }

    p{ 
        font-weight: lighter;
    }

}