* {
  box-sizing: border-box;
}

nav {
  height: 65px;
  width: 100%;
  position: relative;
  /* background-color: #959595; */
  background: rgba(255, 255, 255, 1.0);
background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1.0), rgba(149, 149, 149, 1.0));
background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1.0), rgba(149, 149, 149, 1.0));
background: linear-gradient(to top, rgba(255, 255, 255, 1.0), rgba(149, 149, 149, 1.0));
}

.nav-list {
  height: 60px;
  /* background-color: #959595; */
  
}

.nav-link {
  display: inline-block;
  /* background-color: #959595;  */
  color: black;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

a {
  display: inline-block;
  padding: 10px;
  margin-right: 25px;
  margin-left: 25px;
  font-size: 24px;
  color: black;
}

a:hover {
  color: rgb(224, 224, 224);
  font-weight: bold;
}

@media (max-width:500px) {
  nav {
    height: 200px;
    width: 100%;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 0;
    text-align: center;
  }

  #simon{
    display: none;
  }
}


