* {
  box-sizing: border-box;
}

.nav {
  height: 50px;
  width: 100%;
  position: relative;
  background-color: #959595;
}

.nav-btn {
  display: none;
}

/* .nav-link {
  display: inline-block;
  font-size: 18px;
} */

.nav > #nav-check {
  display: none;
}

.nav-link {
  display: inline-block;
  padding: 10px;
  margin-right: 25px;
  margin-left: 25px;
  background-color: #959595; 
  color: black;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

a {
  display: inline-block;
  padding: 10px;
  margin-right: 25px;
  margin-left: 25px;
  font-size: 24px;
  color: black;
}

a:hover {
  color: rgb(224, 224, 224);
  font-weight: bold;
}

@media (max-width:656px) {
  .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  
}