  .footer {
    background-color: #2f4846;
    width: 100%; 
    margin: auto;
    display: flex;
    position: bottom;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    justify-content: center;
  }