  .footer {
    width: 100%;
    height: 65px; 
    margin: auto;
    display: flex;
    position: bottom;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    background-color: #F6AE2D;
    opacity: 75%;
  }

  .footer-link {
    color: #2F4858;
  }
 
  .footer-link:hover {
    color: #F26419;
  }