.App {
    font-family: 'Courier New', Courier, monospace;
    min-width: 412px;
}

@media only screen and (max-width: 500px) {
    body {
      background-color: rgb(232, 232, 232);
    }
  }

  h1{
    text-align: center;
  }